<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>

<div>
    <h4 th:text="${title}"></h4>

    <a th:href="@{/users}" th:text="'Volver'"></a>
    <form th:action="@{/users}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{createdAt}"/>
        <div>
            <label for="name">Nombre</label>
            <div>
                <input type="text" th:field="*{name}" id="name"/>
            </div>
        </div>

        <div>
            <label for="lastname">Apellido:</label>
            <div>
                <input type="text" th:field="*{lastname}" id="lastname"/>
            </div>
        </div>

        <div>
            <label for="email">Email:</label>
            <div>
                <input type="text" th:field="*{email}" id="email"/>
            </div>
        </div>

        <div>
            <label for="username">username</label>
            <div>
                <input type="text" th:field="*{username}" id="username"/>
            </div>
        </div>

        <div>
            <label for="password">password</label>
            <div>
                <input type="password" th:field="*{password}" id="password"/>
            </div>
        </div>

        <div>
            <div>
                <input type="submit" th:value="${(user.id != null && user.id > 0)? 'Editar': 'Crear'}">
            </div>
        </div>

    </form>
    <a th:href="@{/}" th:text="'volver a la lista'"></a>
</div>

</body>
</html>